body {
    background-color: rgb(54,54,54);
}

#messageContainer {
    background-color: rgb(54,54,54);
    max-height: 90%;
    overflow: auto;
    text-align: justify;
    padding: 20px;
    width:80%;

    position: absolute;
    left:20%;
}

#messageInput {
    background-color: rgb(54,54,54);
    padding:10px;
    width:75%;

    position:fixed;
    bottom:2%;
    left:20%;
}

/*
.messenger {
    width: 75%;
    height: 100%;
    position:absolute;
    left:20%;
}*/

.message {
    background-color: lightcoral;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 1px;
    text-align: left;
    vertical-align: middle;
    width: 35%;
}

.local {
    float: right;
    background-color:cornflowerblue;
}

.textbox {
    background-color: rgb(106, 106, 116);
    border: 1px solid #848484;
    border-radius: 30px;
    padding:5px;
    height:25px;
    width:92%; 
}

.logo {
    text-align: center;
}

.hotlineButton {
    background-color: #d6065dee !important;
    color:black;
    border-radius: 5px;
   
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px 18px;
}

.sidebar {
    height: 95%;
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: rgb(0, 89, 119);
    }
    
.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
}
    
.body-text {
    margin-left: 150px;
    font-size: 18px;
}

.user {
    text-justify: right;
    text-align: right;
    vertical-align: bottom;
    font-size: smaller;
}
